.DS_Store
*.swp
*.swo
*.un~
*.pyc
*.py~
GUI_release/*
GUI_Release/*
*~
GUI/GUI.pro.user
AI/debug/*
AI/libs/*
!AI/libs/cpptest/cpptest.zip
AI/obj/*
AI/release/*
AI/test/*
AI/premake4
AI/Makefile
AI/SDP-AI.*
Infinity.pro.user
Infinity-debug-Desktop-Debug/*
Infinity-debug-Desktop-Release/*
vision/data/*

*.profile
Infinity-debug-Desktop-Debug/*                                                  
Infinity-debug-Desktop-Release/*                                                
